.form-wrapper {
  display: flex;
  gap: 2rem;
  justify-content: space-between;
  margin-bottom: 2rem;
  flex-wrap: wrap; 
}

.form-box {
  flex: 1 1 45%;
  background: #f8f8f8;
  padding: 1rem;
  border-radius: 8px;
  box-shadow: 0 2px 6px rgba(0,0,0,0.1);
}

.form-box h3 {
  margin-top: 0;
  color: #3f51b5;
}

.content-wrapper{
    max-width: 1400px;
    margin: auto;
}

.container-wrapper{
    display: flex;
    justify-content: space-around;
}

.container {
    width: 400px;
    margin: 0 25px 25px 0;
}

.list{
    border: 1px solid #ccc;
    min-height: 60px;
    border-radius: 4px;
}

app-new-task{
    margin-bottom: 30px;
}

.empty-label{
    font-size: 2em;
    padding-top: 10px;
    text-align: center;
    opacity: 0.2;
}
