<mat-card class="item" *ngIf="task" (dblclick)="edit.emit(task)">
    <h2>{{ task.title }}</h2>
    <p>
        {{ task.description }}
    </p>
    <div class="button-group">
    <button (click)="edit.emit(task)" 
            mat-fab
            color="accent"
            aria-label="Edit">
      <mat-icon>edit</mat-icon>
    </button>
    <button (click)="delete.emit(task)"
            mat-fab
            color="primary"
            aria-label="Delete">
      <mat-icon>delete</mat-icon>
    </button>
  </div>
</mat-card>